@font-face {
  font-family: "GoogleSans";
  src: url(ProductSans-Light.ttf);
  font-weight: 300;
}@font-face {
        font-family: "GoogleSans";
        src: url(ProductSans-Regular.ttf);
        font-weight: 400;
      }
      @font-face {
        font-family: "GoogleSans";
        src: url(ProductSans-Medium.ttf);
        font-weight: 500;
      }
      @font-face {
        font-family: "GoogleSans";
        src: url(ProductSans-Black.ttf);
        font-weight: 700;
      }
      
      
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.roboto{
        font-family: 'Roboto', sans-serif;
}
.gsans{
        font-family: GoogleSans;

}
a{
  text-decoration: none !important;
  font-family: GoogleSans;
  color: black;

}
      *{
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.navbar{
  font-family: GoogleSans;
  font-size: 1.1rem;
}
.navbar-brand{
  font-size: 2rem;
  font-weight: 700;
}
.container{
  font-family: 'Roboto', sans-serif;
}

.slider{
  margin: 2rem 0rem;
}

.slider h2{
  font-family: GoogleSans;
  font-size: 1.6rem;
  margin: 1rem;
  margin-bottom: 0;
  margin-left: 0;

}
.scrollmenu::-webkit-scrollbar {
  display: none;
}
div.scrollmenu {
    width: 100%;
  border-radius: 8px;
  overflow: auto;
  white-space: nowrap;
  padding: 5px 0px;
}

div.scrollmenu a {
  margin: 0rem 1rem;
  display: inline-block;
  color: rgb(24, 24, 24);
  font-family: GoogleSans;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #ededed;
}
.gscrollmenu a{
  margin: 0px !important; 
  padding:4px !important;
  display: inline-block;
  color: rgb(24, 24, 24);
  font-family: GoogleSans;
  text-align: center;
  text-decoration: none;
}
.gscrollmenu a:hover {
  background-color: #ffffff00 !important;
}
.slidercontent{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 15px;
  padding: 0;
}

.slidercontent img{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 300px !important;
  height: 150px !important  ;
  margin-bottom: 10px;

}

.geninf{
  font-family: GoogleSans;
  font-weight: 400;
  color: rgb(70, 70, 70);
}


  
